Repository bounswe/2021SpringGroup11, pull requests merged in 2021-11, with the labels that each got.

#152 feat: Login Page, Redux and Saga
  source/frontend/package.json
  source/frontend/src/App.tsx
  source/frontend/src/components/Login/actions.ts
  source/frontend/src/components/Login/constants.ts
  source/frontend/src/components/Login/index.tsx
  source/frontend/src/components/Login/reducer.ts
  source/frontend/src/components/Login/saga.ts
  source/frontend/src/images/login-bottom-right.png
  source/frontend/src/images/login-top-left.png
  source/frontend/src/images/logo.png
  source/frontend/src/routes.tsx
  source/frontend/src/utils/auth.tsx
  source/frontend/src/utils/axios.ts
  source/frontend/src/utils/endpoints.ts
  source/frontend/src/utils/history.ts
  source/frontend/src/utils/renderRoutes.tsx
  source/frontend/yarn.lock
Labels: enhancement, implementation, code-review, frontend

#153 The first version of the signup page is ready.
  source/frontend/package.json
  source/frontend/src/components/Login/index.tsx
  source/frontend/src/components/Signup/actions.ts
  source/frontend/src/components/Signup/constants.ts
  source/frontend/src/components/Signup/index.tsx
  source/frontend/src/components/Signup/reducer.ts
  source/frontend/src/components/Signup/saga.ts
  source/frontend/src/components/Signup/selectors.ts
  source/frontend/src/images/green-ellipse.png
  source/frontend/src/images/red-ellipse.png
  source/frontend/src/rootReducer.ts
  source/frontend/src/rootSaga.ts
  source/frontend/src/utils/endpoints.ts
  source/frontend/yarn.lock
Labels: enhancement, implementation, testing, code-review, frontend

#158 143 -> 125 Docker configuration is done
  source/backend/api/Dockerfile
  source/backend/api/backend.txt
  source/backend/api/docker-compose.yml
  source/backend/api/requirements.txt
  source/backend/api/startup_script.sh
  source/backend/api/user/views.py
Labels: backend, deployment

#175 Android/feature/mainpage merge with master
  source/android/Renaissance/assets/logoOnly.png
  source/android/Renaissance/lib/bottom_navigation_page.dart
  source/android/Renaissance/lib/home_page.dart
  source/android/Renaissance/lib/main.dart
  source/android/Renaissance/lib/my_colors.dart
  source/android/Renaissance/lib/widget/course_container.dart
  source/android/Renaissance/lib/widget/tag_container.dart
  source/android/Renaissance/pubspec.yaml
Labels: implementation, code-review, android

#156 Navigation Bar and Profile Page
  source/frontend/src/components/Home/index.tsx
  source/frontend/src/components/NavBar/index.tsx
  source/frontend/src/components/Profile/helper.ts
  source/frontend/src/components/Profile/index.tsx
  source/frontend/src/routes.tsx
Labels: enhancement, implementation, code-review, frontend

#186 feat: Login, Signup , Forgotpassword API calls and Validations
  source/frontend/package.json
  source/frontend/src/components/Home/components/ProfileBar.tsx
  source/frontend/src/components/Home/index.tsx
  source/frontend/src/components/Login/index.tsx
  source/frontend/src/components/Login/reducer.ts
  source/frontend/src/components/Login/saga.ts
  source/frontend/src/components/NavBar/index.tsx
  source/frontend/src/components/SignUp/actions.ts
  source/frontend/src/components/SignUp/index.tsx
  source/frontend/src/components/SignUp/reducer.ts
  source/frontend/src/components/SignUp/saga.ts
  source/frontend/src/routes.tsx
  source/frontend/yarn.lock
Labels: implementation, testing, frontend, deployment

#183 Merge 181: Backend nonfunctional improvements about security and others
  source/backend/api/authentication/views.py
  source/backend/api/common/data_check.py
  source/backend/api/common/models.py
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
Labels: implementation, security, backend
