Repository bounswe/2021SpringGroup11, pull requests merged in 2021-12, with the labels that each got.

#216 Early access of many features added
  source/backend/api/api/settings.py
  source/backend/api/api/urls.py
  source/backend/api/path/__init__.py
  source/backend/api/path/admin.py
  source/backend/api/path/apps.py
  source/backend/api/path/migrations/__init__.py
  source/backend/api/path/models.py
  source/backend/api/path/tests.py
  source/backend/api/path/urls.py
  source/backend/api/path/utils.py
  source/backend/api/path/views.py
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
Labels: backend

#217 214 -> backend-master Endpoints related to following system added
  source/backend/api/api/settings.py
  source/backend/api/api/urls.py
  source/backend/api/path/__init__.py
  source/backend/api/path/admin.py
  source/backend/api/path/apps.py
  source/backend/api/path/migrations/__init__.py
  source/backend/api/path/models.py
  source/backend/api/path/tests.py
  source/backend/api/path/urls.py
  source/backend/api/path/utils.py
  source/backend/api/path/views.py
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
Labels: backend

#222 feat(fe): add jest for testing
  source/frontend/.eslintrc.js
  source/frontend/jest.config.js
  source/frontend/package.json
  source/frontend/src/components/Profile/helper.test.js
  source/frontend/yarn.lock
Labels: enhancement, testing, frontend

#234 (fe) topic page & path and topic search
  source/frontend/.eslintrc.js
  source/frontend/package.json
  source/frontend/src/components/NavBar/SearchBox.tsx
  source/frontend/src/components/NavBar/search.util.ts
  source/frontend/src/components/Profile/index.tsx
  source/frontend/src/components/Topic/fakeData.ts
  source/frontend/src/components/Topic/helper.ts
  source/frontend/src/components/Topic/index.tsx
  source/frontend/src/routes.tsx
  source/frontend/src/utils/endpoints.ts
  source/frontend/yarn.lock
Labels: enhancement, implementation, frontend

#241 Wikidata endpoints determined & initial versions of features added
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
  source/backend/api/requirements.txt
  source/backend/code.py
Labels: backend

#253 205 -> 214 Update branch
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
  source/backend/api/requirements.txt
  source/backend/api/user/views.py
  source/backend/code.py
Labels: backend

#257 215 -> 214 Get-follow endpoint added
  source/backend/api/user/views.py
Labels: backend

#256 214 -> 205 Follow/Unfollow Endpoints Added
  source/backend/api/path/urls.py
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
Labels: backend

#249 205 -> backend-master Create Path endpoint added
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
  source/backend/api/requirements.txt
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
Labels: backend

#250 backend-master <- 227
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
  source/backend/api/user/views.py
Labels: backend

#251 backend-master <- 228
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
Labels: backend

#252 Topic Django APP and Favorite Fucntionality
  source/backend/api/api/urls.py
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
  source/backend/api/topic/__init__.py
  source/backend/api/topic/admin.py
  source/backend/api/topic/apps.py
  source/backend/api/topic/migrations/__init__.py
  source/backend/api/topic/models.py
  source/backend/api/topic/tests.py
  source/backend/api/topic/urls.py
  source/backend/api/topic/views.py
Labels: implementation, backend

#254 Path Effort Rating Endpoint
  source/backend/api/api/urls.py
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
  source/backend/api/topic/__init__.py
  source/backend/api/topic/admin.py
  source/backend/api/topic/apps.py
  source/backend/api/topic/migrations/__init__.py
  source/backend/api/topic/models.py
  source/backend/api/topic/tests.py
  source/backend/api/topic/urls.py
  source/backend/api/topic/views.py
Labels: implementation, backend

#261 backend-master <- 258
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
Labels: backend

#260 backend-master <- 259(Get Followed Paths)
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
Labels: backend

#268 267 -> 245 get path endpoint added
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
Labels: backend

#269 245 -> 262 Search Topic & Get Path endpoints added
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
  source/backend/api/topic/urls.py
  source/backend/api/topic/utils.py
  source/backend/api/topic/views.py
  source/backend/code.py
Labels: backend

#270 backend-master <- 243(Search Path)
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
Labels: backend

#271 242 -> backend_master
  source/backend/api/common/topicname.py
  source/backend/api/common/wordcloudgen.py
  source/backend/api/data3.json
  source/backend/api/path/urls.py
  source/backend/api/path/utils.py
  source/backend/api/path/views.py
  source/backend/api/requirements.txt
  source/backend/api/topic/urls.py
  source/backend/api/topic/utils.py
  source/backend/api/topic/views.py
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
  source/backend/code.py
  source/data.json
Labels: backend

#276 275 -> backend-master create&get path updates and milestone endpoints
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
Labels: backend

#278 277 -> backend-master getfollowedpaths and getenrolledpaths bugfix
  source/backend/api/path/utils.py
  source/backend/api/path/views.py
Labels: urgent, backend

#280 279 -> backend-master edit path & my-paths/topics endpoints added
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
  source/backend/api/topic/urls.py
  source/backend/api/topic/views.py
Labels: urgent, backend

#285 Create Path feature implemented
  source/android/Renaissance/assets/placeHolder.jpg
  source/android/Renaissance/lib/bottom_navigation_page.dart
  source/android/Renaissance/lib/create_path.dart
  source/android/Renaissance/lib/http_services.dart
  source/android/Renaissance/lib/models/tag.dart
  source/android/Renaissance/pubspec.lock
  source/android/Renaissance/pubspec.yaml
Labels: implementation, android

#289 Create Path Bug Fixes and User Experience Improvement
  source/android/Renaissance/lib/create_path.dart
  source/android/Renaissance/lib/my_colors.dart
Labels: bug, implementation, urgent, android

#292 bugs are fixed
  source/android/Renaissance/lib/home_page.dart
  source/android/Renaissance/lib/http_services.dart
  source/android/Renaissance/lib/path_page.dart
  source/android/Renaissance/lib/widget/course_container.dart
  source/android/Renaissance/lib/widget/tag_container.dart
Labels: android

#300 feat(fe): backend connection and searchbox style
  source/frontend/package.json
  source/frontend/src/App.tsx
  source/frontend/src/components/NavBar/SearchBox.tsx
  source/frontend/src/components/NavBar/search.util.ts
  source/frontend/src/components/Profile/helper.ts
  source/frontend/src/components/Profile/index.tsx
  source/frontend/src/components/Topic/fakeData.ts
  source/frontend/src/components/Topic/helper.ts
  source/frontend/src/components/Topic/index.tsx
  source/frontend/src/utils/axios.ts
  source/frontend/src/utils/endpoints.ts
  source/frontend/yarn.lock
Labels: enhancement, implementation, frontend

#303 Frontend/feature/path page
  source/frontend/.eslintrc.js
  source/frontend/src/components/Home/components/HomeTabPanel.tsx
  source/frontend/src/components/Path/actions.ts
  source/frontend/src/components/Path/components/Milestone.tsx
  source/frontend/src/components/Path/components/Tag.tsx
  source/frontend/src/components/Path/constants.ts
  source/frontend/src/components/Path/index.tsx
  source/frontend/src/components/Path/reducer.ts
  source/frontend/src/components/Path/saga.ts
  source/frontend/src/components/Path/selectors.ts
  source/frontend/src/images/pathPlaceholder.png
  source/frontend/src/rootReducer.ts
  source/frontend/src/rootSaga.ts
  source/frontend/src/routes.tsx
  source/frontend/src/utils/endpoints.ts
Labels: frontend

#304 Fe/wordcloud
  source/frontend/package.json
  source/frontend/src/App.tsx
  source/frontend/src/components/NavBar/SearchBox.tsx
  source/frontend/src/components/NavBar/search.util.ts
  source/frontend/src/components/Profile/helper.ts
  source/frontend/src/components/Profile/index.tsx
  source/frontend/src/components/Topic/fakeData.ts
  source/frontend/src/components/Topic/helper.ts
  source/frontend/src/components/Topic/index.tsx
  source/frontend/src/utils/axios.ts
  source/frontend/src/utils/endpoints.ts
  source/frontend/yarn.lock
Labels: enhancement, implementation, frontend

#307 feat(fe): wordcloud images
  source/frontend/src/components/NavBar/SearchBox.tsx
  source/frontend/src/components/Profile/helper.ts
  source/frontend/src/components/Profile/index.tsx
  source/frontend/src/components/Topic/helper.ts
  source/frontend/src/components/Topic/index.tsx
Labels: frontend
