Repository bounswe/2021SpringGroup11, pull requests merged in 2022-01, with the labels that each got.

#318 316 -> 142 Test cases added for User endpoints
  source/backend/api/user/tests.py
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
Labels: testing, backend

#352 Merge 343
  source/backend/api/common/activitystreams.py
  source/backend/api/path/views.py
Labels: implementation, backend, activity-streams

#353 142(unit tests) <- 340(unit tests for path)
  source/backend/api/path/tests.py
  source/backend/api/path/urls.py
  source/backend/api/path/utils.py
  source/backend/api/user/views.py
Labels: testing, backend

#350 341 -> 142 Unit tests added for topics
  source/backend/api/topic/tests.py
  source/backend/api/topic/urls.py
  source/backend/api/topic/utils.py
  source/backend/api/topic/views.py
Labels: backend

#351 Merge 342
  source/backend/api/common/activitystreams.py
  source/backend/api/path/views.py
Labels: implementation, backend, activity-streams

#358 142(unit tests) <- 327(finish task endpoint)
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
Labels: implementation, backend, database

#356 Fe/fix-deployment
  .github/workflows/frontend-check-build-on-PR.yml
  .github/workflows/frontend-production.yml
  source/frontend/tsconfig.json
Labels: frontend

#372 feat(fe): Un/Follow User and List Followers and Followings
  source/frontend/src/components/Profile/helper.ts
  source/frontend/src/components/Profile/index.tsx
  source/frontend/src/utils/endpoints.ts
Labels: enhancement, implementation, frontend

#377 Fe/fix search box
  source/frontend/src/components/NavBar/SearchBox.tsx
Labels: bug, implementation, frontend

#360 Merge 346 into 326
  source/backend/api/path/views.py
  source/backend/api/user/views.py
Labels: code-review, backend, activity-streams

#357 328 -> 142 Add-resource endpoint implemented
  source/backend/api/db.sqlite3
  source/backend/api/path/tests.py
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
Labels: backend

#381 142 -> backend-master Deployment of new features
  .gitignore
  source/backend/api/api/settings.py
  source/backend/api/authentication/utils.py
  source/backend/api/db.sqlite3
  source/backend/api/path/tests.py
  source/backend/api/path/urls.py
  source/backend/api/path/utils.py
  source/backend/api/path/views.py
  source/backend/api/topic/tests.py
  source/backend/api/topic/urls.py
  source/backend/api/topic/utils.py
  source/backend/api/topic/views.py
  source/backend/api/user/tests.py
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
Labels: backend

#383 326 -> 142 Activity Stream Update
  source/backend/api/common/activitystreams.py
  source/backend/api/path/views.py
  source/backend/api/topic/views.py
  source/backend/api/user/views.py
Labels: backend

#384 142 -> backend-master Activity Stream Update
  source/backend/api/common/activitystreams.py
  source/backend/api/path/views.py
  source/backend/api/topic/views.py
  source/backend/api/user/views.py
Labels: backend

#370 Android/update create path page
  source/android/Renaissance/lib/create_path.dart
  source/android/Renaissance/lib/http_services.dart
  source/android/Renaissance/lib/widget/tag_create_container.dart
  source/android/Renaissance/lib/widget/tag_desc_container.dart
Labels: implementation, android

#390 Implemented global activity streams endpoint.
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
Labels: code-review, backend, activity-streams

#388 142 <- 385(get finished paths endpoint & updates & fixes)
  source/backend/api/db.sqlite3
  source/backend/api/path/urls.py
  source/backend/api/path/views.py
Labels: implementation, urgent, backend

#391 merge 323 into 326
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
Labels: code-review, backend, activity-streams

#400 Android Search Feature
  .DS_Store
  source/android/Renaissance/lib/bottom_navigation_page.dart
  source/android/Renaissance/lib/home_page.dart
  source/android/Renaissance/lib/http_services.dart
  source/android/Renaissance/lib/main.dart
  source/android/Renaissance/lib/models/basic_path.dart
  source/android/Renaissance/lib/models/basic_user.dart
  source/android/Renaissance/lib/models/search_result.dart
  source/android/Renaissance/lib/search_page.dart
  source/android/Renaissance/lib/widget/tag_search_container.dart
  source/android/Renaissance/lib/widget/user_container.dart
  source/android/Renaissance/pubspec.lock
Labels: implementation, android

#401 Merge 326(activitystreams) into 142(backend tests)
  source/backend/api/path/views.py
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
Labels: testing, code-review, backend, activity-streams

#402 392 -> 334 Related Topic Bugfix
  source/backend/api/common/topicname.py
  source/backend/api/path/utils.py
  source/backend/api/topic/utils.py
  source/backend/api/topic/views.py
Labels: backend

#403 334 -> 142
  source/backend/api/common/topicname.py
  source/backend/api/db.sqlite3
  source/backend/api/path/tests.py
  source/backend/api/path/urls.py
  source/backend/api/path/utils.py
  source/backend/api/path/views.py
  source/backend/api/topic/utils.py
  source/backend/api/topic/views.py
  source/backend/api/user/views.py
Labels: backend

#405 142 -> backend-master Update Deployed Code
  source/backend/api/common/topicname.py
  source/backend/api/path/tests.py
  source/backend/api/path/urls.py
  source/backend/api/path/utils.py
  source/backend/api/path/views.py
  source/backend/api/topic/utils.py
  source/backend/api/topic/views.py
  source/backend/api/user/urls.py
  source/backend/api/user/views.py
Labels: backend

#407 Get Profile Update & Search Path Bugfix
  source/backend/api/path/views.py
  source/backend/api/user/views.py
Labels: backend

#406 142->backend-master
  source/backend/api/path/views.py
Labels: code-review, backend

#411 339->backend-master: merge authentication unit tests
  source/backend/api/authentication/tests.py
  source/backend/api/authentication/utils.py
Labels: testing, code-review, backend

#408 Android/feature/topic page
  source/android/Renaissance/lib/http_services.dart
  source/android/Renaissance/lib/models/tag.dart
  source/android/Renaissance/lib/path_page.dart
  source/android/Renaissance/lib/search_page.dart
  source/android/Renaissance/lib/topic_page.dart
  source/android/Renaissance/lib/widget/course_container.dart
  source/android/Renaissance/lib/widget/tag_container.dart
  source/android/Renaissance/lib/widget/tag_search_container.dart
Labels: implementation, android

#412 Backend connection of Create Path
  source/android/Renaissance/lib/create_path.dart
  source/android/Renaissance/lib/http_services.dart
Labels: implementation, backend, android

#416 Coloring for task/milestone and topics
  source/android/Renaissance/lib/create_path.dart
Labels: design, android

#417 Android/feature/activity stream
  source/android/Renaissance/lib/activity_stream.dart
  source/android/Renaissance/lib/bottom_navigation_page.dart
  source/android/Renaissance/lib/http_services.dart
  source/android/Renaissance/lib/models/activity.dart
  source/android/Renaissance/lib/widget/activity_container.dart
  source/android/Renaissance/pubspec.lock
  source/android/Renaissance/pubspec.yaml
Labels: implementation, android, activity-streams

#418 Android/feature/path page milestone update
  source/android/Renaissance/lib/models/milestone_model.dart
  source/android/Renaissance/lib/path_page.dart
  source/android/Renaissance/lib/widget/milestone_widget.dart
Labels: implementation, android

#404 Fe/homepage backend connection
  source/frontend/.eslintrc.js
  source/frontend/src/components/Home/components/HomeTabPanel.tsx
  source/frontend/src/components/Home/components/Main.tsx
  source/frontend/src/components/Home/components/ProfileBar.tsx
  source/frontend/src/components/Home/components/utils.ts
  source/frontend/src/components/Home/constants.ts
  source/frontend/src/components/Home/index.tsx
  source/frontend/src/components/NavBar/SearchBox.tsx
  source/frontend/src/components/NavBar/index.tsx
  source/frontend/src/components/Profile/helper.ts
  source/frontend/src/components/Profile/index.tsx
  source/frontend/src/utils/endpoints.ts
Labels: enhancement, implementation, frontend

#421 refactor(fe): new utils and tests
  source/frontend/src/components/Home/components/utils.test.ts
  source/frontend/src/components/Home/components/utils.ts
  source/frontend/src/components/NavBar/SearchBox.tsx
  source/frontend/src/components/NavBar/utils.test.ts
  source/frontend/src/components/Profile/helper.test.js
  source/frontend/src/components/Profile/helper.test.ts
  source/frontend/src/components/Profile/helper.ts
  source/frontend/src/components/Profile/index.tsx
Labels: enhancement, implementation, frontend

#423 feat: Activity Streams
  source/frontend/.eslintrc.js
  source/frontend/package-lock.json
  source/frontend/package.json
  source/frontend/src/components/Activity/__test__/Activity.test.js
  source/frontend/src/components/Activity/actions.ts
  source/frontend/src/components/Activity/constants.ts
  source/frontend/src/components/Activity/index.tsx
  source/frontend/src/components/Activity/reducer.ts
  source/frontend/src/components/Activity/saga.ts
  source/frontend/src/components/Activity/selectors.ts
  source/frontend/src/components/Home/index.tsx
  source/frontend/src/components/NavBar/index.tsx
  source/frontend/src/rootReducer.ts
  source/frontend/src/rootSaga.ts
  source/frontend/src/routes.tsx
  source/frontend/src/utils/endpoints.ts
  source/frontend/yarn.lock
Labels: frontend, deployment, activity-streams

#426 Test and minor bugfix
  source/android/Renaissance/lib/models/milestone_model.dart
  source/android/Renaissance/lib/path_page.dart
  source/android/Renaissance/lib/widget/course_container.dart
  source/android/Renaissance/lib/widget/milestone_widget.dart
  source/android/Renaissance/pubspec.lock
  source/android/Renaissance/test/milestone_container_test.dart
  source/android/Renaissance/test/milestone_model_test.dart
  source/android/Renaissance/test/path_container_test.dart
  source/android/Renaissance/test/path_page_test.dart
  source/android/Renaissance/test/topic_page_test.dart
Labels: testing, android

#427 App name corrected, network permission granted.
  source/android/Renaissance/android/app/src/main/AndroidManifest.xml
  source/android/Renaissance/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  source/android/Renaissance/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  source/android/Renaissance/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  source/android/Renaissance/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  source/android/Renaissance/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Labels: deployment, android

#428 Android/testing search create path homepage
  source/android/Renaissance/lib/create_path.dart
  source/android/Renaissance/lib/home_page.dart
  source/android/Renaissance/lib/login_page.dart
  source/android/Renaissance/lib/search_page.dart
  source/android/Renaissance/lib/settings_page.dart
  source/android/Renaissance/pubspec.lock
  source/android/Renaissance/pubspec.yaml
  source/android/Renaissance/test/create_path_test.dart
  source/android/Renaissance/test/home_page_test.dart
  source/android/Renaissance/test/login_page_test.dart
  source/android/Renaissance/test/search_page_test.dart
  source/android/Renaissance/test/settings_page_test.dart
Labels: testing, android

#425 feat(fe): about and licenses page
  source/frontend/src/components/About/about.md
  source/frontend/src/components/About/index.tsx
  source/frontend/src/components/NavBar/index.tsx
  source/frontend/src/routes.tsx
Labels: enhancement, implementation, frontend

#433 System Manual for frontend
  source/frontend/Dockerfile
  source/frontend/README.md
  source/frontend/docker-compose.prod.yml
  source/frontend/nginx.conf
Labels: frontend, deployment
